body{
	font-family: 'Dosis', sans-serif;
	-background-color:#FFEBCD;
	background-color:#1E90FF;
 }
hr{
	background-color:white;
	height:5px;
 }
 
 header{
	 margin-bottom:30px;
 }

.carousel-control{
	width:80px;
	height:80px;
	margin-top:185px;
	border-radius:40px 40px 40px 40px;
	background-color:#000000;
}

.carousel-control-prev{	margin-left:25px; }

.carousel-control-next{	margin-right:25px; }

.container{
	min-width:400px;
	background-color:rgba(0,0,0, 0.5);
 }


.nav-link, .navbar-brand{
	padding-left:5px;
	padding-right:5px;
	margin-left:0;
	margin-right:0;
	text-decoration: none;
	font-weight:bold;
}
	
.navbar a:hover{
	background-color:rgba(127,127,127,0.5);
	text-decoration: none;
}
.display-1{
	border-radius:100px 100px 100px 100px;
	background:radial-gradient(rgb(0,0,0) 100px, rgba(0,0,0,0) );
	text-shadow: white 0 0 100px;
	-webkit-text-stroke: 2px black;
}

.card-groop{
	display:block;
	margin-bottom:30px;
	text-align:center;
}

.card{
	
	float:center;
	display:inline-block;
	margin:15px 20px 0 20px;
}

.card-title{
	text-align:center;
	font-weight:bold;
	color:#0f477f;
	background-color:rgba(255,255,255,0.75);
	padding:5px;
}


.card-header{
	position:relative;
	font-size:150%;
	font-weight:bold;
	text-align:center;
}
.fas{
	z-index: 900;
	position:absolute;
	top:-20px;
	right:-10px;
	font-size:200%;
	-webkit-text-stroke: 1px black;
	transform: rotate(200deg);
}


.sale{
	z-index: 900;
	position:absolute;
	top:-2px;
	right:-5px;
	font-size:60%;
	color:black;
	font-weight:bold;
	transform: rotate(290deg);
}
.fas:hover{ transform: rotate(202deg);}

.sale:hover{ color:red; }

footer{ padding-bottom:10px; }

.text-uppercase{
	text-align:center;
	color:white;
	font-weight:bold;
}

@media screen and (min-width : 768px) and (max-width: 992px) {
	.carousel-control{
		margin-top:60px;
	}
}
@media screen and (min-width : 993px) and (max-width : 1200px){
	.carousel-control{
		margin-top:125px;
	}
} 

@media screen and (min-width : 1px) and (max-width : 768px){
	.carousel-control{
		margin-top:25px;
	}
}
 
