div {
    font-size: x-large;
    text-align: justify;

}

.container-fluid {
    padding: 0;
}

header {
    background: radial-gradient(circle, rgba(0, 0, 255, 0.88) 10%, rgba(0, 0, 255, 0.1) 100%), url("img/header.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.navbar {
    background: #fff;
    height: 60px;
    z-index: 170;
    margin: 0auto;
    border-bottom: 1pxsolid#dadada;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5);
}

.title-slideshow .carousel-inner {
    overflow: hiden;
    height: 350px;
}

.title-slideshow .carousel-inner .slide-item {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.news-slide {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    div {
        animation: none;
    }

    header {
        background-image: radial-gradient(circle, rgba(0, 0, 255, 0.88) 10%, rgba(0, 0, 255, 0.1) 100%), url("img/header.jpg");
        background-size: cover;
    }

    .title-slideshow .carousel-inner {
        height: 220px;
    }

    .title-slideshow .carousel-inner .slide-item {
        height: 220px;
    }

    #title {
        font-size: 150%;
        padding-bottom: 20px !important;
    }

    div {
        font-size: 100%;
    }

    .container {
        padding: 0 10px 0 10px !important;
    }
}


.photo {
    width: 100%;
    height: auto;
}



#footer-logo {
    height: 100px;
    width: auto;
}

footer .row {
    margin: 0;
}

div.scrollup {
    position: fixed;
    /* фиксированная позиция */
    color: #fff;
    /* цвет текста */
    background-color: #286090;
    /* цвет заднего фона */
    right: 20px;
    /* расстояние от правого края */
    bottom: 0px;
    /* расстояние от нижнего края */
    padding: 4px 10px;
    /* отступы до содержимого блока */
    font-size: 20px;
    /* размер шрифта (иконки) */
    border-top-left-radius: 4px;
    /* скругление верхнего левого угла */
    border-top-right-radius: 4px;
    /* скругление верхнего правого угла */
    cursor: pointer;
    /* форма курсора */
    display: none;
    /* не отображать элемент */
    text-align: center;
    /*выравнивание содержимого элемента по центру */
}